#ignore all parquet files
*.parquet

#ignore db files
*Db.*

#ignore pngs
*.png

#ignore jpegs
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

#ignore dbf
*.dbf

#ignore prj
*prj

#ignore sbn
*.sbn

#ignore sbx
*.sbx

#ignore shx
*.shx

#ignore shp
*.shp

#ignore csv
*.csv